.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  overflow: hidden;
}

.image-container {
  overflow: hidden;
}

.ne-resize {
  resize: none;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  transition: transform 0.3s ease;
  position: absolute;
}

.container {
  overflow: hidden;
  position: relative;
  background-color: #C0C0C0;;
}

.resize {
  position: relative;
  resize: horizontal;
  background-color: transparent;
  overflow-x: overlay;
  z-index: 1; /* this makes the content clickable */
}

.resize-giro {
  transform: rotate(90deg);
}
