<div class="flex justify-center items-center">
  <button (click)="isDragable = true">drag</button>
  <button (click)="isDragable = false">move</button>
  <div class="images-container" [ngStyle]="{'width':2*size+'px','height':2*size+'px'}">
    @for (image of template.imagePositions; track image.id; let idx = $index) {
    <div #host id="presente-{{idx}}" (click)="showFileChooser(idx)" (dragover)="onDragStart($event,idx)"
      (drop)="onDrop($event,idx)" class="flex justify-center items-center bg-gray-200 image-container ne-resize"
      (resized)="onresized($event,image.resize,image.id)" [ngClass]="image.image ? 'cursor-grab' : 'cursor-pointer'"
      [ngStyle]="{
        'max-height': 2*size+'px',
        'max-width': 2*size+'px',
        'grid-column-end': image.colEnd,
        'grid-column-start': image.colStart,
        'grid-row-start': image.rowStart,
        'grid-row-end': image.rowEnd,
        'resize': retornarResize(template,image),
        'width' : image.width,
        'height': image.height,
        'min-width': image.minwidth,
        'min-height': image.minheight,
        'margin-left': retornarMargenIzquierdo(template,image),
        'margin-top': retornarMargenArriba(template,image)
      }">
      @if (idx === 0) {
      <div (drag)="handleDrag($event, idx)" [draggable]="true"
        class="z-40 w-[5px] h-[40px] rounded-bl-full rounded-tl-full bg-white absolute right-0 top-[150] cursor-col-resize">
      </div>
      }
      @if (idx === 1) {
      <div (drag)="handleDrag($event, idx)" [draggable]="true"
        class="z-40 w-[5px] h-[40px] rounded-br-full rounded-tr-full bg-white absolute left-0 top-[150] cursor-col-resize">
      </div>
      }
      @if (image.image) {
      @if(isDragable){
      <div class="container" [style.width]="(image.width)" [style.height]="(image.height)">
        <img id="imagen-{{idx}}" [ngStyle]="{'top': image.imagen.top+'px','left': image.imagen.left+'px',
          'transform': 'scale('+image.escala+')'
        }" [src]="image.image" class="image" alt="">
      </div>
      }@else{
      <image-configuracion id="imagen-{{idx}}" (valorEscala)="nuevovalorEscala($event,idx)"
        (valorImagen)="nuevavalorimagen($event,idx)" [width]="image.width" [height]="image.height"
        [top]="image.imagen.top" [left]="image.imagen.left" [url]="image.image"
        [escala]="image.escala"></image-configuracion>
      }
      } @else {
      <img ngSrc="/assets/image-placeholder.png" width="40" height="40" alt="">
      }
      <input type="file" id="fileInput-{{idx}}" [hidden]="true" (change)="onImageChange($event, idx)">
    </div>
    }
  </div>
</div>
