<ktd-grid [cols]="cols"
          [rowHeight]="rowHeight"
          [height]="500"
          [layout]="layout"
          (layoutUpdated)="onLayoutUpdated($event)">
  @for (item of layout; track item.id; let index = $index) {
    <ktd-grid-item [id]="item.id">
      <div class="border-gray-200 border-2 h-full">
        <p>column {{ index }}</p>
      </div>
      <!-- Your grid item content goes here -->
      <ng-template ktdGridItemPlaceholder>
        <!-- Custom placeholder content goes here -->
      </ng-template>
    </ktd-grid-item>
  }
</ktd-grid>
