<div class="template-container" id="template-container">
  @for (position of selectedTemplate.positions; track position.image; let index = $index) {
    <div
      id="image-{{index}}"
      (dragover)="onDragStart($event,index)"
      (drop)="onDrop($event,index)"
      style="background-color: white"
      [ngStyle]="{
              'grid-column': 'span ' + position.colSpan,
              'grid-row': 'span ' + position.rowSpan,
            }"
    >
      <img [src]="position.image"  style="object-fit: cover; width: 100%; height: 100%" alt="">
    </div>
  }
</div>
