<div class="flex">
  <div>
    <div class="flex justify-center items-center">
      <div class="w-[500px] h-[500px] grid grid-cols-12 grid-rows-12">
        <div [ngStyle]="{'grid-column': 'span ' + leftSide, 'grid-row': 'span 12'}">
          <img src="/assets/image-1.jpeg" class="w-full h-full object-cover " alt="">
        </div>
        <div class="grid grid-rows-12" [ngStyle]="{'grid-column': 'span ' + rightSide, 'grid-row': 'span 12'}">
          <img [ngStyle]="{'grid-row': 'span ' + downSide}" src="/assets/image-2.jpeg" class="w-full h-full object-cover" alt="">
          <img [ngStyle]="{'grid-row': 'span ' + upSide}" src="/assets/image-3.jpg" class="w-full h-full object-cover" alt="">
        </div>
      </div>
    </div>

    <div class="flex justify-center">
      <div class="w-[500px]">
        <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
      </div>
    </div>
  </div>

  <div class="h-[500px]">
    <ngx-slider [(value)]="verticalValue" [options]="verticalOptions"></ngx-slider>
  </div>

</div>
