@if (vertical) {
  <div class="flex justify-center items-center">
    <div class="w-[500px] h-[500px] grid grid-rows-12 relative">
      @if (upSide > 0 && downSide < 12) {
        <div [ngStyle]="{'grid-row': 'span ' + upSide}">
          <img src="/assets/image-1.jpeg" class="w-full h-full object-cover " alt="">
        </div>
      }
      @if (downSide > 0 && upSide < 12) {
        <div [ngStyle]="{'grid-row': 'span ' + downSide}">
          <img src="/assets/image-2.jpeg" class="w-full h-full object-cover" alt="">
        </div>
      }
      <input class="w-full absolute top-1/2 rotate-90" type="range" min="0" max="12" step="1" [(ngModel)]="value">
    </div>
  </div>
} @else {
  <div class="flex justify-center items-center">
    <div class="w-[500px] h-[500px] grid grid-cols-12 relative">

      @if (leftSide > 0 && rightSide < 12) {
        <div [ngStyle]="{'grid-column': 'span ' + leftSide}">
          <img  src="/assets/image-1.jpeg" class="w-full h-full object-cover " alt="">
        </div>
      }

      @if (rightSide > 0 && leftSide < 12) {
        <div [ngStyle]="{'grid-column': 'span ' + rightSide}">
          <img  src="/assets/image-2.jpeg" class="w-full h-full object-cover" alt="">
        </div>
      }
      <input class="w-full absolute top-1/2" type="range" min="0" max="12" step="1" [(ngModel)]="value">
    </div>
  </div>
}
