<div class="grid grid-cols-12 gap-5 mt-5 min-h-[300px]">
  <div class="col-span-4 border-2 border-gray-100 p-4 rounded-sm">
    <div class="flex justify-between">
    </div>
    @if (imagesInput.length) {
    <app-selector (selectedTemplate)="selectedTemplateSelect($event)" [selectedLayout]="imagesInput.length"
      [imagesInput]="imagesInput" [size]="225"></app-selector>
    }
  </div>
  <div class="col-span-8">
    @if (imagesInput.length) {
      <app-custom-grid [selectedTemplate]="selectedTemplate?.elegido" [templates]="selectedTemplate?.total" [imagesInput]="imagesInput" [size]="225"></app-custom-grid>
    }
  </div>
</div>
