<div class="flex gap-3">
  <div>
    <div class="flex justify-center items-center">
      <div class="w-[500px] h-[500px] grid grid-cols-12 grid-rows-12 relative">
          <img src="/assets/image-1.jpeg" [ngStyle]="{'grid-row': 'span 6', 'grid-column': 'span 6'}" class="w-full h-full object-cover " alt="">
          <img src="/assets/image-1.jpeg" [ngStyle]="{'grid-row': 'span 6', 'grid-column': 'span 6'}" class="w-full h-full object-cover " alt="">
          <img src="/assets/image-1.jpeg" [ngStyle]="{'grid-row': 'span 6', 'grid-column': 'span 6'}" class="w-full h-full object-cover " alt="">
          <img src="/assets/image-1.jpeg" [ngStyle]="{'grid-row': 'span 6', 'grid-column': 'span 6'}" class="w-full h-full object-cover " alt="">
<!--        <input class="w-full absolute top-1/2" type="range" min="0" max="12" step="1" [(ngModel)]="value">-->
      </div>
    </div>
  </div>
<!--  @if (verticalValue === 6) {-->
<!--    <div class="h-[500px] flex items-center gap-2">-->
<!--      <button (click)="verticalValue = verticalValue - 1">-->
<!--        <img ngSrc="/assets/arrow-up-icon.png" width="25" height="25" alt="arrow up">-->
<!--      </button>-->
<!--      <button (click)="verticalValue = verticalValue + 1">-->
<!--        <img ngSrc="/assets/arrow-down-icon.png" width="25" height="25" alt="arrow up">-->
<!--      </button>-->
<!--    </div>-->
<!--  }-->

</div>
